
* {
    box-sizing: border-box;
  }
  header{
    background-color:lightgrey;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
section::after {
    content: "";
    display: table;
    clear: both;
  }
nav {
    float: left;
  width: 20%;
  height: 700px;
  padding: 30px;
    background-color:white;
    border: 1px solid black
}
nav ul {
    list-style-type: none;
    padding: 0;
  }
  
.parent-article {
 float: right;
  padding: 30px;
  width: 80%;
  height: 700px;
    background-color:white;
    border: 1px solid black;
}
.green{
    background-color: green;
    color: white;
}
.sub-article{
    border: 1px solid green;
    float: left;
    width: 100%;
    height: auto;
    background-color:white;

}
.background{
    background-color:lightgreen;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;  
    border: 2px solid green;
}
.text{
    padding: 10px;
    border: 1px solid green;
}
.blackline{
    border: 1px solid darkgrey;
}
.areaText{
    float: right;
    background-color: darkslategrey;
    color: white;
}
.background2{
    background-color:lightblue;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;  
    border: 2px solid lightblue;  
}
.block{
    height: 220px;
}
.request{
 float: right;
 background-color: lightslategrey;   
 height: 70%;
 width: 95%;
 position:inherit;
}

.response{
    float: right;
    background-color: lightslategrey;   
    height: auto;
    width: 95%;
    position:inherit;
   }
li{
    cursor: pointer;
}
/* .label{
    
    height: 20px;
    padding-right: 4px;
    padding-top: px;
    position: relative;
    text-align: right;
    vertical-align: middle;
    width: 73px;
}
.label:before{
 content:"*Required" ;
color:red    
} */